.gradle/
FileDuplicateFinderCore/.classpath
FileDuplicateFinderCore/.project
FileDuplicateFinderCore/.settings/
FileDuplicateFinderCore/build/
FileDuplicateFinderCore/bin/
FileDuplicateFinderUI/.classpath
FileDuplicateFinderUI/.project
FileDuplicateFinderUI/.settings/
FileDuplicateFinderUI/build/
FileDuplicateFinderUI/bin/

