.gradle/
.idea/
build
**/out
FileDuplicateFinderCore/.classpath
FileDuplicateFinderCore/.project
FileDuplicateFinderCore/.settings/
FileDuplicateFinderCore/bin/
FileDuplicateFinderCore/src/main/groovy/forTesting/
FileDuplicateFinderUI/.classpath
FileDuplicateFinderUI/.project
FileDuplicateFinderUI/.settings/
FileDuplicateFinderUI/bin/
gduplicatefinder.properties
forWiki
docs
prodData
readme.html
pushToSourceForge.sh
version.json
settings.dat
