.gradle/
.idea/
.kotlin/

.classpath
.project
.settings

.sdkmanrc

build
bin

app/settings.dat
app/gduplicatefinder.properties

hs_err*log

forWiki
prodData
readme.html
pushToSourceForge.sh
version.json

